{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
  %}
  <h1 align="center">{% block header %}Videography Club DHS{% endblock %}</h1>
  <div id="posts">
    {% for post in posts %}
    <div class="card border-dark">
      <div class="card-header d-flex justify-content-between align-items-center">
        <a href="/posts/{{post.user.username}}">{{post.user.username}}</a>
        {% if current_user.id == post.author %}
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-sm btn-primary dropdown-toggle"
            data-bs-toggle="dropdown"
          ></button>
          <ul class="dropdown-menu">
            <li>
              <a href="/delete-post/{{post.id}}" class="dropdown-item">Delete</a>
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="card-body">
        <div class="card-text">{{post.text}}</div>
        <br />
        <div class="collapse" id="comments-{{post.id}}">
          <div class="card">
            <div class="card-body" id="comments-expanded-{{post.id}}">
              {% for comment in post.comments %}
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <a href="/posts/{{comment.user.username}}"
                    >{{comment.user.username}}</a
                  >: {{comment.text}}
                </div>
                <div>
                  <small class="text-muted"> {{comment.date_created}}</small>
                  {% if user.id == comment.author or user.id == post.author %}
                  <div class="btn-group">
                    <button
                      type="button"
                      class="btn btn-sm btn-primary dropdown-toggle"
                      data-bs-toggle="dropdown"
                    ></button>
                    <ul class="dropdown-menu">
                      <li>
                        <a
                          href="/delete-comment/{{comment.id}}"
                          class="dropdown-item"
                          >Delete</a
                        >
                      </li>
                    </ul>
                  </div>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <p class="card-text">
          {% if post.comments|length > 0 %}
          <a data-bs-toggle="collapse" href="#comments-{{post.id}}" role="button">
            <small>View {{post.comments|length}} Comments</small>
          </a>
          {% else %}
          <small class="text-muted">No Comments</small>
          {% endif %}
        </p>
        <form
          class="input-group mb-3"
          method="POST"
          action="/create-comment/{{post.id}}"
        >
          <input
            type="text"
            id="text"
            name="text"
            class="form-control"
            placeholder="Comment something!"
          />
          <button type="submit" class="btn btn-primary">Comment</button>
        </form>
      </div>
      <div class="card-footer text-muted">{{post.date_created}}</div>
    </div>
    <br/ > {% endfor %}
  </div>
  {% block footer %}
  <div align="center">
    <a href="/create-post"
      ><button type="button" class="btn btn-primary btn-lg">
        Create a Post
      </button></a
    >
  </div>
  {% endblock %} {% endblock %}
  